/build/classes/sorter/InsertionSorter.class
/build/classes/sorter/MergeSorter.class
/build/classes/sorter/QuickSorter.class
/build/classes/sorter/Sort.class
/build/classes/sorter/Sorter.class
/Sortierergebnisse.html